<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="true"
    colors="true"
    processIsolation="true"
    verbose="true">
    <testsuites>
        <testsuite name="tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
