<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="true"
    colors="true"
    processIsolation="false"
    verbose="true">
    <testsuites>
        <testsuite name="tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL" />
    </php>
</phpunit>
